.form-body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c1053ff;
}

form{
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: scroll;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  background: #fff;
  /* background: #ffb6c1; */
}

::-webkit-scrollbar {
  display: none;
}
/* 
label{
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem;
  margin: 1rem;
}

.option-label{
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.25rem;
  margin: 1rem;
}

input, textarea, select{
  padding: 0.25rem;
  margin: 1rem;
  width: 15rem;
  display: block;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

input[type="radio"],
input[type="checkbox"]{
  width: 2rem;
}

textarea{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0.25rem 1rem 0.25rem;
}

.radio,.checkbox{
  display: flex;
  justify-content: space-between;
} */

/* .btn{
  margin: 0;
  padding: 0.25rem 0.5rem;
} */

/* .numbersDiv{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
} */
.first-name{
  width: 50%;
  margin-right: 0.5rem !important;
}

.last-name{
  width: 50%;
  margin-left: 0.5rem !important;
}

.name-input{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.input{
  padding: 1rem;
  text-align: center;
}

.img-input{
  padding-top: 1rem;
  text-align: center;
}

.img-input img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  form{
    width: 50vw;
  }
}

@media (min-width: 992px) {
  form{
    width:35vw;
  }
}
/* 
.button{
  text-align: center;
}

button{
  padding: 0.5rem;
  margin: 2.5rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submitBtn:disabled{
  cursor: not-allowed;
  background-color: #ccc;
}

.error{
  color: red;
  text-align: center;
} */

.signup-link{
    text-decoration: none;
}

/* .react-datepicker-wrapper{
  display: block !important;
} */

/* .form-heading{
  text-align: center;
} */